/* Grid container styling */
.boxes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Two columns with minimum width of 300px */
    grid-gap: 20px;
}

.box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box img {
    width: 100%;
    height: auto;
    transition: transform 0.5s; /* Add transition for zoom effect */
}

.box:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
}

.box .title {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: white; /* Ensure title text is visible */
}

.box .summary {
    display: none;
    position: absolute;
    top: 50%; /* Adjusted positioning */
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white; /* Ensure summary text is visible */
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.box:hover .summary {
    display: block;
}
